{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block%}
        About
{% endblock %}
{% block body_block %}
        <h1>About this thing (Rango says here is the about page)</h1>
        <div>
            This tutorial has been put together by David Zacek.<br />
        </div>
        <div>
            visits: {{ visits }}
        </div>
        <div>
            <a href="/rango/index/">Index</a><br />
            <img src="{% static "images/about.jpg" %}" alt="About us card" />
        </div>
        <div>
            Here is a cute cat:
            <img src="{{ MEDIA_URL }}cat.jpg" alt="A cat" />
        </div>
{% endblock %}

